<html>
<body style="background-color: aliceblue;">
	<h1 align="center" style="color: darkblue">Add Task</h1>
	<div class="col-md-4 container">
		<form [formGroup]="addForm" (ngSubmit)="addTask()">
			<div class="form-group">
				<label>Task Name</label><em>*</em> <input class="form-control"
					required formControlName="name" placeholder="Enter Task Name">
			</div>
			<div class="form-group">
				<label>Summary</label> <input class="form-control"
					formControlName="summary" placeholder="Enter Summary">
			</div>
			<div class="form-group">
				<label>Description</label>
				<ckeditor formControlName="description"></ckeditor>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-check" aria-hidden="true"></i> Submit
				</button>
				&nbsp;&nbsp;
				<button class="btn btn-danger" (click)="cancel()">
					<i class="fa fa-times" aria-hidden="true"></i> Cancel
				</button>
			</div>

		</form>
	</div>
</body>
</html>